pinch-zoom {
  display: block;
  overflow: hidden;
  touch-action: none;
  --scale: 1;
  --x: 0;
  --y: 0;
}

pinch-zoom > * {
  transform: translate(var(--x), var(--y)) scale(var(--scale));
  transform-origin: 0 0;
  will-change: transform;
}div.svelte-m6n0ej{--size:20px;position:absolute;background-color:var(--color);border:1px solid #00000049;width:var(--size);height:var(--size)}.container.svelte-244pp5{border:3px solid red;height:600px;width:600px;margin:3em}.zoomable.svelte-244pp5{border:4px dashed blue;height:50%;width:50%}.flexbox.svelte-244pp5{display:flex;flex-wrap:nowrap;align-content:stretch;justify-content:space-evenly;align-items:stretch}.menu.svelte-244pp5{position:absolute;top:10px;left:10px;width:400px;margin:0.1em;padding:2em;z-index:10;background-color:rgba(133, 198, 255, 0.801)}